**/data/*.sqlite
T24Iskan/data/
**/Old/
**/.idea/
**/out/
**/__pycache__
**/env/
**/*.csv
**/*.7z
xml/ACH
**/**.rar
xml/performance
xml/data/SystemLog/*
/data science/disney-data-science-tasks-master/data
/data science/disney-data-science-tasks-master/.ipynb_checkpoints